.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    color: var(--dark-color);
    background: var(--light-color);
    border-bottom: 1px solid var(--dark-color);
}