.checkbox {
    position: relative;
    appearance: none;
    border: 1px solid var(--dark-color);
    width: 15px;
    height: 15px;
    top: 3px;
    cursor: pointer;
    border-radius: 3px;
}
.labelClassName {
    display: flex;
    align-items: center;
}

.spanClassName {
    margin-left: 10px;
    cursor: pointer;
    color: var(--dark-color);
    transition: color 0.3s linear;
    text-decoration: underline;
}

.checkbox:checked {
    appearance: none;
    border-color: var(--dark-color);

    width: 15px;
    height: 15px;

    background-image: url("/src/assets/images/check-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.checkbox:checked ~ .spanClassName {
    color: var(--dark-color);
    text-decoration: none;
}