input {
    outline: none;
}

.superInput {
    padding: 5px;
    border: 1px solid var(--dark-color);
    background: none;
    margin-bottom: 22px;
    border-radius: 5px;
}

.superInput:focus {
    outline: none;
}

.errorInput {
    border: 1px solid var(--warn-color);
    margin-bottom: 0;
}

.error {
    color: var(--warn-color);
}

